.header {
  background: $red;
  height: 2.5rem;
  transition: all 0.5s ease;
  @media only screen and (max-width: 576px) {
    height: 1rem;
  }
}

.navbar {
  background: linear-gradient($white-grey, $light-grey);
  padding: 1.25rem 0;
  transition: all 0.5s ease;
  @media only screen and (max-width: 576px) {
    padding: 1rem 0;
    background: #ffffff;
    border-bottom: 1px solid $grey;
  }

  &__logo {
    height: 7.5rem;
    width: 20.625rem;
    border: 1px solid $grey;
    background-color: #ffffff;
    @include media-breakpoint-down(lg) {
      height: auto;
      width: auto;
      border: none;
      background-color: none;
      position: initial !important;
    }
  }

  .nav-item {
    padding:0 1.6rem;
    &:not(:last-child) {
      border-right: 1px solid #d5d5d5;
    }
  }


  .nav-link {
    color: $red;
    font-weight: bold;
  }

  .active {
    .nav-link {
      color: #000000;
    }
  }
}

.navbar-toggler {
  margin-right: 0.5rem;
}

.shrinked {
  .header {
    height: 0.5rem;
  }

  .navbar {
    background: #ffffff;
    border-bottom: 1px solid $grey;
    padding: 0.5rem;

    &__logo {
      border: none;
      background-color: transparent;
      height: auto;
      img {
        height: 50px;
      }
    }
  }
}
