<div class="header"></div>

<nav class="navbar navbar-light navbar-expand-lg relative">
  <div class="container">
    <div class="navbar__logo absolute flex-center">
      <a class="navbar-brand" href="#">
        <img src="../assets/img/logo.png" alt="Lion and Lion Logo">
      </a>
    </div>
    <button
      class="navbar-toggler"
      type="button"
      (click)="navbarCollapsed = !navbarCollapsed"
      aria-controls="navbarContent"
      aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse" [ngbCollapse]="navbarCollapsed" id="navbarContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#photos">Photos
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#blog">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#form"> Form </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#places">Places</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
