/* You can add global styles to this file, and also import other style files */
@import "bootstrap";

@import "config";
@import "header";
@import "layout";
@import "button";
@import "photos";
@import "section";

body {
  padding-top: 10rem;
}
stores {
  display: block;
  margin-bottom: 2rem;
}

app-navbar {
  display: block;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}

.myCarousel {
  .carousel-indicators {
    display: none;
  }
}
